<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label>Cliente</ion-label>
      <ion-select [(ngModel)]="order.custumer">
        <ion-option *ngFor="let custumer of custumers">
          {{ custumer }}
        </ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="DD/MMM/YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="selected_date"></ion-datetime>
    </ion-item> -->

  </ion-list>

  <ion-item-group>
    <ion-item-divider color="light">Produtos</ion-item-divider>
    <ion-item *ngFor="let product of order.products">
        <ion-grid item-content>
          <ion-row>
              <ion-col col-9>
                <ion-label>{{ product.name }}</ion-label>
              </ion-col>
              <ion-col col-3>
                <ion-input placeholder="Qtd." type="number" [value]="product.quantity" [(ngModel)]="product.quantity"></ion-input>
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-item-group>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="submitOrder($event, order)">
      Finalizar
    </button>
  </ion-toolbar>
</ion-footer>
