.no-right-gap {
    margin:0;
    margin-bottom: 100px;
}

/* 
brand {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px red;
} */

.footer {
    height: 256px;
}

.h-line-green {
    border-top: 7px solid #3E5C03
}

.h-line-red {
    border-top: 7px solid #ff4f4d
}

.h-line-white {
    border-top: 7px solid #ffffff;
}

hr {
    width: 100%;
    display: block;
    height: 0px;
    border: 0;
    
    margin: 0em 0;
    padding: 0;    
}

.footer-red {
    background-image: url('images/background/back-image.jpg');
    background-repeat: repeat;
}

.footer-green {
    background-image: url('images/background/back-image.jpg');
    background-repeat: repeat;
}

/* small */
@media (max-width: 992px) {
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-logo {
        width: 192px;
        height: 192px;
        float: left;
        top: 32px;
        position: relative;
    }

    .footer-address {
        text-align: center;
        margin-top: 0px;
        position: relative;
        font-size: medium;
        bottom: 0;
        left: 0;
    }

    .social {
        margin-left: 1em;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .footer-address address {
        margin: 0px;
        margin-left: 1em;
        line-height: 1.2em;
    }

    .footer-slogan {
        height: 256px;
        position: absolute;
        top: -184px;
        /* bottom: -5px; */
        right: 10px;
        z-index: 2000;
    } 
}

@media (min-width: 992px) { 
    .footer-logo {
        width: 192px;
        height: 192px;
    }

    .footer-address {
        margin-top: 72px;
        position: relative;
        font-size: medium;
        bottom: 0;
        left: 0;
    }

    .footer-address address {
        margin: 0px;
        margin-left: 1em;
        line-height: 1.1em;
    }

    .social {
        margin-left: 1em;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    .footer-slogan {
        height: 150%;
        float: right;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
    }
}

#custom-carousel {
    height: 30px;
}

.footer-address i {
    color: black;
}

body {
    padding-top: 60px;
    background-image: url('images/background/back-image.jpg');
    background-repeat: repeat;
}

/* #fcfcf8; green */
/* #fff6f2; red */
.body-green {
    /* padding-top: 58px; */
    background-color: #fcfcf8; /*green*/
    background-image: url('images/background/back-image.jpg');
    background-repeat: repeat;
} 

.body-red {
    background-color: #fff6f2; /*red*/
    background-image: url('images/background/back-image.jpg');
    background-repeat: repeat;
}

/* medium */
@media (min-width: 768px) and (max-width: 1024px) { 
    .item-card {
        box-shadow: 1px 1px 1px 1px #ccc;
    }
    .item-description {
        background-color: #fff;
        text-align: left;
        letter-spacing: 2px;
        line-height: 2;
        padding: 1em;
    }

    .item-image-effects {
        height: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        box-shadow: 0 10px 6px -6px #777;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .item-image-effects:before, .item-image-effects:after
    {
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
    .item-image-effects:after
    {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
            -ms-transform:skew(8deg) rotate(3deg);
            -o-transform:skew(8deg) rotate(3deg);
                transform:skew(8deg) rotate(3deg);
    }

    .item-image {
        width: 100%;
        padding: 0.6em;
        background-color: white;
    }

 }

/* large */
@media (min-width: 1025px) { 
    .item-card {
        background-color: white;
        box-shadow: 1px 1px 1px 1px #ccc;
        /* margin-left: 150px; */
        /* position: relative; */
        /* left: 150px; */
        /* width: 80%; */
        /* z-index: 2; */
    }
    .item-description {
        text-align: center;
        letter-spacing: 3px;
        padding: 2em;
        line-height: 2;
    }

    /* effects on image */
    .item-image-effects {
        height: 100%;
        width: 100%;
        position:relative;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .item-image-effects:before, .item-image-effects:after
    {
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
    .item-image-effects:after
    {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
            -ms-transform:skew(8deg) rotate(3deg);
            -o-transform:skew(8deg) rotate(3deg);
                transform:skew(8deg) rotate(3deg);
    }

    .item-image {
        width: 100%;
        padding: 1em;
        background-color: white;
    }

}

/* small */
@media (max-width: 767px) { 
    .item-card {
        box-shadow: 1px 1px 1px 1px #ccc;
    }
    .item-description {
        background-color: #fff;
        text-align: left;
        letter-spacing: 2px;
        line-height: 2;
        padding: 1em;
    }

    /* effects on image */
    .item-image-effects {
        height: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .item-image {
        width: 100%;
    }
}

.navbar-fixed-top {
    background-color: #ffffff00 !important;
    transition: background-color 1000ms linear;
}

.navbar-fixed-top.scrolled {
    background-color: inherit !important;
    /* background-color: #fff !important; */
    transition: background-color 1000ms linear;
}

.fixed-top {
    position: fixed;
}
